/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body,
html {
    height: 100%;
}
/*
 * Global add-ons
 */

a {
    text-decoration: none;
}
/*.page-header {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #eee;
}*/

.page-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 52px;
    margin: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: 40;
}

.page-header .user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#test-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.totaltime {
    width: 40%;
    color: #1392bb;
    display: inline-block;
    text-align: right;
}

livetest-timer {
    display:inline-block;
}
#pauseButton {
    padding: 5px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 1px;
    float: right;
    margin-left: 15px;
    cursor: pointer;
}

.totaltime span {
    vertical-align: middle;
}
.questime {
    float: right;
    color: #FFF;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0.5%;
    background-color: #f9f9f9;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    text-align: left;
    z-index: 101;
}
.dropdown-content p {
    margin: 1%;
    padding: 1%;
}
.dropdown-content a {
    text-decoration: none;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */

.sidebar {
    display: none;
    padding: 0px;
}
.dp-navbar-img-container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.dp-navbar-img {
    width: 175px;
}
.container {} .dp-stream {
    box-shadow: 2px 2px 2px 1px #d0d0d0;
}
.dp-stream-select {
    border: 0px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #90d3e5;
    color: white;
    padding-left: 5%;
    font-size: 1.3em;
}
.dp-stream-select > option {
    background: white;
    color: #494949;
}
.dp-nav-section {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #8d8d8d;
    margin-top: 20px;
    color: #242424;
}
.glyphicon,
.fa {
    margin-right: 10px;
}
.dp-dashboard-header {
    height: 87px;
    background: #FFF;
    text-align: right;
    padding: 1% 3%;
    display: none;
}
.page-header h3 {
    display: inline-block;
}
.dp-dashboard-header img {
    padding: 1%;
}
.navbar-inverse {
    background-color: #5facc0;
    border-color: #5facc0;
}
.navbar-inverse .navbar-toggle {
    border-color: #5facc0;
    float: left;
    clear: left;
    margin: 2%;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #5facc0;
}
.navbar-collapse {
    width: 1;
}
/* Sidebar navigation */

.nav-sidebar {
    margin-bottom: 20px;
}
.nav-sidebar > li > a {
    margin-right: 20px;
    margin-left: 20px;
    color: #8d8d8d;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #90d3e5;
}

/*
 * Main content
 */

.main {
    padding-left: 0px !important;
    padding-right: 0;
    background-color: #fff;
}
.main .page-header {
    margin-top: 0;
}
.page-header {
    padding: 5px 15px;
    color: #545454;
    border-bottom: 1px solid #eee;
    box-shadow: 2px 2px 2px 1px #d0d0d0;
    font-size: 1.5em;
}
.theme-btn {
    color: #fff;
    background-color: #1fbad6;
    border-color: #1ca7c0;
    padding: 6px 30px;
    border-radius: 0;
}
.theme-btn.active, .theme-btn:active, .theme-btn:hover, .open>.dropdown-toggle.theme-btn {
    color: #fff;
    background-color: #1993a9;
    border-color: #14788a;
}
/* +++++++++++++++++++++++++++++++ Question Navigation color Panel ++++++++++++++++++++++*/

.red {
    color: #FFF;
    background: red;
}
.blue {
    background: blue;
    color: #FFF;
}
.green {
    background: green;
    color: #FFF;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    width: 90%;
    text-align: center;
    margin: 1% auto;
}
.placeholders h2 {
    text-align: left;
    margin: 3% 1%;
    margin-top: 0;
    font-size: 1.8em;
}
.stream h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholders h4 {
    text-align: center;
    /*margin: 2%;*/
    
    font-size: 1.5em;
    width: 100%;
    display: inline-block;
}
.test-stream {
    width: 90%;
    text-align: left;
    border: 1px solid;
}
.test-stream h4 {
    width: 60%;
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}
.upper-logo {
    display: none;
}
.question-year {
    border: 1px solid #e6e6e6;
    color: #5facc0;
    /* border-radius: 5px; */
    
    margin: 2%;
    position: relative;
    min-height: 200px;
    box-shadow: 0 1px 4px #c7c7c7;
}
.question-year1 {
    border: 1px solid #5facc0;
    color: #5facc0;
    border-radius: 5px;
    margin: 2%;
    position: relative;
}
.question-year ul {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 10%;
}
.question-year .paper-details li {
    text-transform: uppercase;
    padding: 8px 0;
    font-weight: 500;
    color: #777;
    font-size: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.question-year .paper-details li span{
    color: #000;
}
.dp-ques-year {
    text-decoration: none !important;
    display: inline-block;
    width: 32%;
}
.dp-inst {
    text-align: left;
    font-size: 2em !important;
}
.placeholders p {
    margin-left: 1%;
    text-align: left;
}
.dp-start-test:hover {
    background-color: #6dc3da;
}
/*+++++++++++++++ bootstrap overload ++++++++++++++++++++++*/

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: auto;
    margin-left: auto;
}
/*+++++++++++++++++++++++ question exam css +++++++++++++++++++++++++++++++++++++*/

.noactive {
    display: none;
    text-align: center;
}
.active {
    display: block !important;
    text-align: center;
}
.disabled {
    opacity: 0.65;
    cursor: not-allowed;
    pointer-events: none;
}
.question {
    width: 100%;
    margin: 0;
    color: #FFF;
    background: #56bdde;
}
#test-page .left-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 300px;
    z-index: 1;
    padding: 20px;
}

#test-page .right-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    border-left: 2px solid #ddd;
    background: #fff;
    z-index: 2;
}
.question-year .btn {
    /*position: absolute;*/
    
    bottom: 2%;
    right: 2%;
}
.question-full {
    width: 100%;
    padding: 2%;
    margin: 0;
    line-height: 1.5em;
}
.options .col-xs-12,.solutions .col-xs-12 {
    width: 100%;
    padding: 0;
}
.btn-group-vertical {
    width: 100%;
}
.btn-group-vertical .btn {
    border: 1px solid #90d3e5;
    padding: 1%;
}
label.btn span {
    font-size: 1.5em;
    white-space: normal;
}
.dp-course-block {
    width: 18%;
    display: inline-block;
    margin: 2%;
    padding: 1%;
    background: white;
    box-shadow: 2px 2px 2px 2px #b5b3b3;
    font-size: 1.2em;
    color: #494949;
}
.previous {} .page-header p {
    margin: 0 0 10px;
    display: inline-block;
}
.next {} label.btn span {
    font-size: 1.5em;
    vertical-align: middle;
}
label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #1392bb;
    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o {
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
    color: #079c40;
    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #079c40;
}
.options .btn,.solutions .btn {
    text-align: left;
}

div[data-toggle="buttons"] label.active {
    color: #079c40;
    background: #cafce1;
    border: 1px solid #079c40;
}

.solutions div[data-toggle="buttons"] label.right-answer {
    color: #fff;
    background: #27ae60!important;
    border: 1px solid #27ae60!important;
}

.solutions div[data-toggle="buttons"] label.wrong-answer {
    color: #fff;
    background: #c0392b!important;
    border: 1px solid #c0392b!important;
}

.solutions div[data-toggle="buttons"] label .fa-check, .solutions div[data-toggle="buttons"] label .fa-times {
    display: none;
}

.solutions div[data-toggle="buttons"] label.right-answer .fa-check {
    display: inline-block;
}

.solutions div[data-toggle="buttons"] label.right-answer .fa-times {
    display: none;
}

.solutions div[data-toggle="buttons"] label.wrong-answer .fa-check {
    display: none;
}

.solutions div[data-toggle="buttons"] label.wrong-answer .fa-times {
    display: inline-block;
}

/*.solutions div[data-toggle="buttons"] label {
    pointer-events: none;
    min-height: 40px;
    position: relative
}

.solutions div[data-toggle="buttons"] label span{
    position: absolute;
    height: 100%;
    left: 35px;
}*/

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 1px solid #1392bb;
    border-radius: 3px;
    color: #1392bb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
div[data-toggle="buttons"] label:hover {
    color: #079c40;
    border: 1px solid;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
div[data-toggle="buttons"] label:active,
div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #079c40;
    border-left: 0;
    border-right: 0;
}
.options .btn, .solutions .btn {
    padding-left: 2%;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 0;
    border-right: 0;
}
.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
}
.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
}
.btn-full {
    margin: 0;
    border: none;
    width: 100%;
    border-radius: 0;
}

.question-block .explanations {
    padding: 20px;
}

.question-block .row.explanations>h4 {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
}

/*+++++++++++++++++++++ question block css ++++++++++++++++++++++++++++++ */
/*.button-block {
    display: inline-block;
    width: 100%;
    padding: 3%;
    text-align: left;
}*/

#test-page .left-sidebar .question-no {
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 1%;
    vertical-align: middle;
    background: #1392bb;
    font-size: 1.2em;
    border-radius: 3px 3px 0 0;
    color: #fff;
    padding: 10px 20px;
}
#test-page .left-sidebar .question-block {
    border: 1px solid #56bdde;
    border-radius: 0px;
    text-align: left;
    overflow-y: scroll;
    position: absolute;
    max-height: 80%;
    margin-bottom: 90px;
    top: 60px;
    width: 96%;
    min-height: auto;
}
#test-page .left-sidebar .button-block {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    padding: 8px 19px 0;
    background: #f5f5f5;
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    z-index: 9;
}
/*#test-page .left-sidebar .inner-button-block {
}*/

#test-page .left-sidebar .button-block .btn,
#test-page .right-sidebar .action-btns .btn {
    border-radius: 0;
    font-size: 13px;
    padding: 5px 10px 5px!important;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    margin: 0;
}
#test-page .left-sidebar .button-block .dp-start-test,
#test-page .right-sidebar .action-btns .dp-start-test {
    background-color: #a9d0f5;
    border-radius: 0;
    border: 1px solid #92c4f2;
    color: #333;
    text-shadow: 0 0 0 transparent;
    font-weight: 700;
}
#test-page .left-sidebar .button-block .dp-start-test.next {
    float: right;
    display: none;
}
#test-page .left-sidebar .button-block .dp-start-test.next.active {
    color: #fff;
    background-color: #1fbad6;
    border-color: #1ca7c0;
}
#test-page .right-sidebar .action-btns #submit_test_full {
    color: #fff;
    background-color: #1fbad6;
    border-color: #1ca7c0;
    width: 100%;
    margin-top: 10px;
}

#resultModal .close {
    display:none;
}

#resultModal .modal-header {
    padding: 15px;
    border-bottom: none;
}

#resultModal .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

#resultModal h3 {
    text-align: center;
    font-size: 16px;
}

#resultModal .table {
    text-align: center;
}

#resultModal .table th {
    background: #00b7c5;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.btn-test-primary {
    color: #fff;
    background-color: #059ac4;
    border-color: #0486ab;
    border-radius: 0px;
}

.btn-test-primary.active, .btn-test-primary:active, .btn-test-primary:hover, .open>.dropdown-toggle.btn-test-primary {
    color: #fff;
    background-color: #047392;
    border-color: #03586f;
}

.btn-gray-default {
    color: #fff;
    background-color: #aab8c2;
    border-color: #9bacb7;
    border-radius: 0px;
}

.btn-gray-default.active, .btn-gray-default:active, .btn-gray-default:hover, .open>.dropdown-toggle.btn-gray-default {
    color: #fff;
    background-color: #8c9fad;
    border-color: #788e9e;
}

.ques-navigation .dp-dashboard-header {
    height: auto;
    background: #FFF;
    text-align: right;
    padding: 1% 3%;
    border-bottom: 1px solid #1392bb;
    background: aliceblue;
    display: block;
}
.nav-info {
    border-bottom: 1px solid #1392bb;
    text-align: left;
}
.info-question {
    display: inline-block;
    width: 40%;
    margin: 1%;
}
.info-question div {
    height: 25px;
    width: 25px;
    padding: 5px;
    color: #FFF;
    vertical-align: middle;
    margin: 2px;
    display: inline-block;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    background: #1392bb;
}
/*.attemted_col {
    height: 40px;
    width: 40px;
    color: #FFF;
    vertical-align: middle;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    background: blue;
}
.not_attemted{
    
}
.answered_col{
    background: green;
}
.marked_col{
    height: 40px;
    width: 40px;
    color: #FFF;
    vertical-align: middle;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    background: black;
}*/
/********** Attempted *************/

.right-sidebar .student-details {
    height: auto;
    background: #FFF;
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #1392bb;
    background: aliceblue;
    display: block;
    position: relative;
    width: 100%;
}

.right-sidebar .student-details img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.right-sidebar .ques-navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 165px;
    bottom: 84px;
}
.right-sidebar .action-btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px 7px;
    background: #d9edf7;
    -webkit-box-shadow: 0 -1px 2px #9ecee5;
    box-shadow: 0 -1px 2px #9ecee5;
}
.q-possible-states {
    font-size: 80%;
    padding: 10px;
    position: relative;
}
.q-possible-states>div {
    padding: 5px 0px;
    text-align: left;
}
.q-possible-states>div>div {
    display: inline;
    padding: 5px 10px;
}
.q-possible-states>div>div {
    height: 18px;
    margin: 2px 0 4px;
    padding: 4px 0 0;
    background-color: #f9f9f9;
    border: 1px solid #000;
    color: #000;
    width: 20px;
    display: inline-block;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1px;
}
.skipped {
    border-radius: 0 0 15px 15px!important;
    background-color: #c0392b!important;
    border-color: #c0392b!important;
    color: #FFF!important;
}
.marked,
.attempted.marked {
    background-color: #9b59b6!important;
    border-radius: 24px!important;
    border-color: #9b59b6!important;
    color: #FFF!important;
    position: relative;
}
.attempted {
    border-radius: 15px 15px 0 0!important;
    background-color: #27ae60!important;
    color: #FFF!important;
    border-color: #27ae60!important;
}
.attempted.marked::after {
    content: '';
    position: absolute;
    border-color: #27ae60;
    border-style: solid;
    border-width: 0 .3em .3em 0;
    height: 1em;
    top: -.375em;
    right: 0;
    transform: rotate(45deg);
    width: .5em;
}
.right-sidebar h3.mob-sidebar-section {
    display: block;
    padding: 5px 10px 4px;
    background: #b4dbed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.test-head .page-header {
    margin: 0;
}
#pre {
    float: left;
    clear: left;
}
#Qpanel {
    display: none;
}
.right-sidebar .ques-nav-ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 8px;
    overflow: auto;
    list-style: none;
}
.right-sidebar .ques-nav-ul li {
    margin: 7px;
    float: left;
    width: 30px;
    text-align: center;
    padding: 2px 0px;
    border: 1px solid #1392bb;
    cursor: pointer;
}
.ques-navigation .dp-start-test {
    margin: 2%;
    padding: 5px 25px;
    font-size: 1.4em;
    background: #56bdde;
    border: 2px solid #7cc8dc;
    border-radius: 0px;
    color: white;
}
.dp-submit-test {
    width: 150px;
    display: none;
    padding: 0.5%;
    float: right;
    font-size: 0.8em;
    FONT-WEIGHT: BOLD;
    background: #FFF;
    border: 1px solid #7cc8dc;
    border-radius: 0px;
    color: #7cc8dc;
    clear: right;
}

.sidebar-open-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    display: none;
    opacity: 0;
    cursor: pointer;
}

@media only screen and (max-width: 1512px) {
    .placeholders {
        width: 95%;
    }
    .test-stream {
        width: 100%;
    }
    .test-stream img {
        width: 70px;
        height: 100px;
    }
}
@media only screen and (max-width: 1300px) {
    .dp-submit-test {
        width: 125px;
    }
}
@media only screen and (max-width: 1200px) {
    .main {
        width: 100%;
    }
    .sidebar {
        width: 23%;
    }
    .test-stream img {
        width: 110px;
        height: 120px;
    }
    .placeholder {
        width: 50%;
    }
    .placeholders h4 {
        margin: 4% 2%;
    }
    .main .page-header {
        margin-top: 0%;
        padding: 2%;
    }
    .test-stream h4 {
        width: 55%;
        text-align: center;
    }
    .button-block .dp-start-test {
        margin: 0% 1% 0 0%;
        padding: 10px 15px;
    }

    .ques-nav-ul li {
        width: 20%;
    }
    .info-question {
        width: 45%;
    }
    .question-block {
        width: 74%;
    }
    #not-answered-q {
        width: 55%;
    }
}
@media only screen and (max-width: 1015px) {
    .test-stream img {
        width: 100px;
        height: 110px;
    }
    .button-block .dp-start-test {
        margin: 0% 1% 0 0%;
        padding: 10px 10px;
    }
    .test-stream h4 {
        width: 55%;
        text-align: center;
    }
    .main .page-header {
        margin-top: 0%;
        padding: 3%;
    }
}
@media only screen and (max-width: 900px) {
    .nav-sidebar > li > a {
        margin-right: 8px;
        margin-left: 8px;
        color: #8d8d8d;
    }
    .dp-submit-test {
        width: 100px;
        font-size: 0.6em;
        margin: 7px;
    }
    
    .info-question {
        width: 46% !important;
    }
    #test-logo {
        margin-right: 2%;
        width: 120px;
    }
    .page-header p {
        font-size: 0.8em;
    }
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .upper-logo {
        display: block;
    }
    .dp-dashboard-header {
        height: 20px;
        background: #f5f5f5;
    }
    .main {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .sidebar {
        width: 100%;
        position: absolute;
        z-index: 100;
        background: #FFF;
    }
    .dp-dashboard-header {
        height: 0px;
        background: #f5f5f5;
        padding: 0;
        margin: 0;
    }
    .main .page-header {
        margin-top: 0%;
        padding: 2%;
    }
    .dp-dashboard-header img {
        padding: 1% 2%;
    }
    .upper-logo .dp-navbar-img {
        width: 150px;
        padding: 2%;
    }
    .dp-navbar-img-container {
        display: none;
    }
    
    #test-page .left-sidebar {
        -webkit-transition: transform .3s cubic-bezier(.165,.84,.44,1);
        -o-transition: transform .3s cubic-bezier(.165,.84,.44,1);
        transition: transform .3s cubic-bezier(.165,.84,.44,1);
        margin-right: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    #test-page .right-sidebar {
        -webkit-transition: transform .3s cubic-bezier(.165, .84, .44, 1);
        -o-transition: transform .3s cubic-bezier(.165, .84, .44, 1);
        transition: transform .3s cubic-bezier(.165, .84, .44, 1);
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
        transform: translateX(300px);
    }
    #test-page .right-sidebar.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    
    #test-page .left-sidebar.active {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    
    #test-page .left-sidebar.active .sidebar-open-bg {
        display: block;
        opacity: 1;
        -webkit-transition: opacity .3s cubic-bezier(.165,.84,.44,1);
        -o-transition: opacity .3s cubic-bezier(.165,.84,.44,1);
        transition: opacity .3s cubic-bezier(.165,.84,.44,1);
    }
    
    #Qpanel .hide-sidebar {
        display: none;
    }
    
    #Qpanel.active .hide-sidebar {
        display: block;
    }
    
    #Qpanel.active .show-sidebar {
        display: none;
    }
    
}
@media only screen and (max-width: 768px) {
    .page-header {
        padding: 5px;;
    }
    .page-header p{
       display:none;
    }
    .test-stream img {
        width: 60px;
        height: 80px;
    }
    .placeholders h4 {
        margin: 4% 2%;
        font-size: 1.2em;
    }
    .test-stream h4 {
        width: 56%;
        text-align: center;
        font-size: 1.1em;
    }
    .main .page-header {
        padding: 4%;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    .dp-stream-select {
        padding: 4%;
    }
    .page-header .totaltime {
        display: inline-block;
        font-size: 14px;
        width: 30%;
    }
    .page-header .totaltime img {
        width: 20px;
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    #pauseButton {
        padding: 0;
        width: 20px;
    }

    #test-page .left-sidebar .question-block {
        border: 1px solid #56bdde;
        border-radius: 0px;
        text-align: left;
        overflow-y: scroll;
        position: absolute;
        max-height: 80%;
        bottom: 10px;
        top: 60px;
        width: 90%;
        min-height: auto;
    }
    
    #submit-question {
        float: right;
        clear: right;
    }
    
    .button-block {
        /*text-align: center;*/
        
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 45px;
        padding: 8px 19px 0;
        background: #f5f5f5;
        -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
        display: block;
    }
    .button-block .dp-start-test {
        border-radius: 0;
        font-size: 12px;
        padding: 5px 5px 5px!important;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        margin: 0;
    }
    .button-block .dp-start-test:last-child {
        display: none;
    }
    
    .closeQ {
        display: block;
    }
    
    #Qpanel {
        display: block;
        margin: auto;
        font-size: 1em;
        width: 40px;
        padding: 1px;
        bottom: 50px;
        position: absolute;
        right: 18px;
        height: 40px;
        z-index: 50;
        color: #fff;
        background-color: #1fbad6;
        border-color: #1ca7c0;
    }
    
    #Qpanel>span.icon-bar {
        background-color: #fff;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin: 2px auto;
    }
    
    .question-block img {
        width: 100%;
        margin-bottom: 95px;
    }
    .dp-ques-year {
        width: 47%;
    }
    .dp-start-test {
        padding: 2px 15px;
        font-size: 1.2em;
    }
    #marked-ans-q {
        width: 60% !important;
    }
}
@media only screen and (max-width: 480px) {
    .placeholder {
        width: 70%;
        margin: 5% 15%;
    }
    .dp-dashboard-header img {
        padding: 2% 2%;
        width: 40px;
    }
    #notify {
        width: 30px;
    }
    .dp-stream-select {
        padding: 4%;
    }

    label.btn span {
        font-size: 1em;
    }
           
    .button-block .dp-start-test {
        font-size: 10px;
    }
    
    #pre {
        float: none;
        clear: none;
    }
    
    .dp-course-block {
        width: 90%;
    }
    .question-full {
        font-size: 1.1em;
    }
    
    .placeholders h4 {
        width: 100%;
    }
    .question-year {
        padding-bottom: 4%;
    }
    .question-year .btn {
        margin: 2%;
    }
    .dp-ques-year {
        width: 100%;
    }
    .dp-start-test {
        padding: 2px 15px;
        font-size: 1em;
    }
    .question-year {
        min-height: 100px;
    }
    #test-page .left-sidebar .button-block .dp-start-test .temp-text {
        display: none;
    }
}


/* --------------------- changes in papaer box--------------- */
.custom-dp-btn-primary {
    color: #fff;
    background-color: #1fbad6;
    border-color: #1ca7c0;
    width: 90%;
    /* margin-top: 10px;*/
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 35px;
    padding: 0;
    text-transform: uppercase;
}

.dp-ques-year {
    width: 100%;
    padding: 5%;
}
.placeholders {
    margin: 7% auto;
}

/* Tooltip container */
.syllabus-info .tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px solid #e6e6e6;*/
    opacity: 1;
    font-size: 14px;
    margin-top: 5%;
}

/* Tooltip text */
.syllabus-info .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.syllabus-info .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.syllabus-info .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.question-year{
    padding: 4%;
    text-align: left;
    padding-top: 6%;
    padding-left: 14px;
}
.placeholders h4{
    font-size: 1.3em;
    text-align: left;
    color: #495563;
}
.question-year .paper-details li{
    font-size: 13px;
}
.question-year ul {
    padding-left: 0;
}

/*-------------- instruction page css ----------------- */

.instruction-left-sidebar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 300px;
    z-index: 1;
    padding: 20px;
    overflow: auto;
}
.instruction-right-sidebar{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    border-left: 2px solid #ddd;
    background: #fff;
    z-index: 2;
}

.instruction-left-sidebar .question-year1{
    margin-top: 5%;
    border: none;
    color: #777;
    border-radius: 0;
}
.instruction-left-sidebar .instruction-btn-block{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    padding: 7px 19px 42px;
    background: #f5f5f5;
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    z-index: 9;

}

.start-test-btn{
    float: right;
}

.start-test-btn button{
    border: 1px solid #1fbad6;
    background-color: #1fbad6;
    color: #fff;
    padding: 6px 28px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    font-weight: 700;
    letter-spacing: 1px;
}
.instruction-left-sidebar .previous-btn-box{
    float: left;
    text-transform: uppercase;
    padding: 10px 12px 0px 0;
    font-size: 13px;
}
.instruction-left-sidebar .previous-btn-box a{
    text-decoration: none;
}
.instruction-right-sidebar .user-details {
    margin-top: 28%;
}
.instruction-right-sidebar #userName{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.instruction-right-sidebar .user-img img{
    width: 30%;
    border: 1px solid #E6E6FC;
    border-radius: 50%;
    margin-bottom: 6%;
}
@media only screen and (max-width: 768px){
    .instruction-left-sidebar{
        -webkit-transition: transform .3s cubic-bezier(.165,.84,.44,1);
        -o-transition: transform .3s cubic-bezier(.165,.84,.44,1);
        transition: transform .3s cubic-bezier(.165,.84,.44,1);
        margin-right: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .instruction-right-sidebar{
    /*-webkit-transition: transform .3s cubic-bezier(.165, .84, .44, 1);
    -o-transition: transform .3s cubic-bezier(.165, .84, .44, 1);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1);
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);*/
    display: none;
    }
}


/* ----------- solution card box css ------------- */
        .solution-card{
            width: 221px;
            white-space: normal;
            border: 2px solid #ddd;
            z-index: 20;
            margin: 20px 12px 20px 13px;
            height: 328px;
            padding: 12px 16px 56px;
            border-radius: 3px;
        }
        .solution-title{
                min-height: 50px;
        }
        .solution-title h4{
            font-size: 20px;
            line-height: 1.25;
            font-weight: 500;
            color: #495563;
            margin: 0;
            max-height: 50px;
            overflow: hidden;
        }
        .solution-tags{
            margin-top: 8px;
        }
        .solution-tags .paper-tags {
                display: inline-block;
                background: #a3a3a3;
                color: #fff;
                padding: 2px 6px 0;
                margin: 0 4px 4px 0;
                font-size: 12px;
                font-weight: 500;
                border-radius: 30px;
        }
        [data-toggle=tooltip] {
            position: relative;
        }
        
        .syllabus-info{
            margin-top: 8px;
        }
        /* Tooltip container */
        .solution-body .tooltip {
            position: relative;
            display: inline-block;
            /*border-bottom: 1px solid #e6e6e6;*/
            opacity: 1;
            font-size: 14px;
            margin-top: 5%;
            color: #059ac4;
        }

        /* Tooltip text */
        .solution-body .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 1s;
        }

        /* Tooltip arrow */
        .solution-body .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .solution-body .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .solution-details {
            /*position: absolute;*/
            left: 16px;
            right: 16px;
            bottom: 56px;
            margin-bottom: 0;
            margin-top: 8px;
        }
        .solution-details ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

        }
        .solution-details ul li {
            text-transform: uppercase;
            padding: 8px 0;
            font-weight: 500;
            color: #777;
            font-size: 13px;
        }
        .solution-details ul li:not(:last-child) {
            border-bottom: 1px solid #D2D8DF;
        }
        .solution-details ul li .first-li-span {
            color: #333;
        }
        .solution-analytics-share {
                margin-top: 10px;
                border-top: 1px solid #D2D8DF;
                padding-top: 8px;
                display: flex;
                flex-direction: row;
        }
        .solution-analytics-share .btn{
                display: inline-block;
                margin-bottom: 0;
                font-weight: 500;
                text-align: center;
                vertical-align: middle;
                touch-action: manipulation;
                border: 1px solid transparent;
                white-space: nowrap;
                line-height: 1;
                -webkit-transition: all .3s cubic-bezier(.165,.84,.44,1);
                -o-transition: all .3s cubic-bezier(.165,.84,.44,1);
                transition: all .3s cubic-bezier(.165,.84,.44,1);
                padding: 14px;
                font-size: 14px;
                border-radius: 3px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
        }
        .solution-analytics-share .btn:not(:last-child) {
                border-right: 1px solid #ddd;
                padding-right: 19px;
                padding-left: 18px;
        }
        .solution-analytics-share .btn {
                padding-right: 19px;
                padding-left: 18px;
        }
        .solution-analytics-share i {
            font-size: 20px;
            color: #777;
        }
        
/***************** Bootbox Modal Css ****************/
.bootbox-close-button.close {
    display:none;
}

/****************** Calculator CSS *************/
#big_wrapper{
    position: relative;
    z-index: 100;
    overflow: hidden;
    width:510px;
}
.cal-header{
    background-color: #fff;
    color: #fff;
}
.cal-header span{
    background-color: #1fbad6;
    /* border: 1px solid #1c626f; */
    /* padding: 7px; */
    border-radius: 0;
    /* font-size: 13px; */
    padding: 9px 9px 8px!important;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}
.cal-header button{
    float: right;
    padding: 9px 30px 8px!important;
    background-color: #1fbad6;
    border: none;
}
#form_wrapper {
    width:510px;
    height:340px;
    margin:0 auto;
    background-color:#e6e6e6;
    text-align:center;
    /*border-radius:10px;*/
    /*border-right:2px groove #333;*/
    box-shadow:0px 0px 5px #666666;
    position: relative;
    z-index: 100;
     overflow: hidden;
}

#formone{
    padding-top:10px;
}

#display{
    width:390px;
    height:40px;
    font-size:18px;
    color:black;
    margin:4px;
    border:2px inset black;
    /*border-bottom:1px inset #FFF;
    border-right:1px inset #FFF;*/
    background-color:#D5F192;
}

.form-box .button{
    width:60px;
    height:40px;
    margin:1px;
}
.form-box .button:hover{
    background-color: #56bdde;
    border:none;
}

.form-box .number {
    font-size:16px;
    font-weight:bold;
}

.form-box .opps {font-size:18px;}

.form-box .three {
    font-weight:bold;
    background-color: #a0a0a0;
    border: 1px solid #545454;
}

.form-box .three:hover{
    background-color:#F66;
}


