@font-face{
	font-family: Lato;
	src: url(../fonts/Lato-Regular.ttf);
        
	}

body {
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    font-size: 1.5vw;
    color: #494949;
    font-family: Lato;
}

.dp-header-section{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    color:#fff;
}
a{
    text-decoration: none;
}

h2{
    font-size: 1.2em;
}

.dp-landing-header-login{
    text-align: right;
    padding-right: 25px;
    padding-top: 11px;
}
.dp-landing-header-login button:hover{
    background-color: #00A8d5;
    color: #fff;
    cursor: pointer;
}

.dp-landing-login{
    padding: 1% 2%;
    /*width: 10%;*/
    background: #fff;
    border: none;
    color: #00A8d5;
    font-size: 20px;
}

.dp-header-container {
    text-align: center;
    padding: 2% 1%;
}

.dp-header-container img {
    width: 25%;
}

.dp-header-main-heading {
    font-size: 3em;
}


.dp-header-sec-heading {
    font-size: 2em;
    letter-spacing: 0.01em;
}

.dp-button-l {
    margin: 4%;
    padding: 1% 2%;
    font-size: 1.2em;
    background: orange;
    color: #FFF;
    border: none;
    /*border-radius: 4px;*/
    font-weight: bold;
    cursor: pointer;
}

.dp-white-background{
	background:white;
}

.dp-section-margin {
    padding: 2%;
    text-align: center;
}

.dp-section-inner-margin {
    margin-top: 2%;
}

.dp-course-block {
    width: 18%;
    display: inline-block;
    margin: 2%;
    padding: 1%;
    background: white;
    box-shadow: 2px 2px 2px 2px #b5b3b3;
    font-size: 1.2em;
    color: #494949;
}

.dp-benifit-block {
    vertical-align: middle;
    width: 18%;
    display: inline-block;
    margin: 2%;
    padding: 1%;
    background: white;
    box-shadow: 2px 2px 2px 2px #b5b3b3;
    font-size: 1em;
    color: #494949;
    height: 9vw;
}

.dp-block-margin {
    margin: 1%;
}

.dp-how-margin {
    margin: 1%;
    width: 90%;
    margin: 1% auto;
}

.dp-how-section-img {
    width: 80%;
    /* height: 200px; */
}

.dp-how-section-text {
    width: 45%;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    color: #494949;
    vertical-align: middle;
    /* margin-top: 50px; */
}

.dp-how-section-image {
    display: inline-block;
    width: 50%;
    margin: 1% auto;
    vertical-align: middle;
}

.dp-footer{
	background: #515151; 
    color:white;
    padding-top:30px;
    font-size:1.5em;
}

.dp-subscribe-box{
	background: #0097c0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#52c2be, #0097c0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#52c2be, #0097c0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#52c2be, #0097c0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#52c2be, #0097c0); /* Standard syntax */   
}

.dp-subscribe-box h2{
    color: #FFF;
}
.dp-subscribe-box input[type="button"]{
    padding: 2% 5%;
    font-size: 0.6em;
    margin-left: 2%;
    background: #088dae;
    border: none;
    color: #FFF;
}

 .text-danger{
    background-color: #f2dede;
    font-size: 14px;
    padding: 1%;
    line-height: 1.42857143;
    color: #333;
    margin-top: 6px;
    margin-left: 19px;
    margin-right: 8px;
    display: none;
}

.text-success{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #dff0d8;
    padding: 1%;
    margin-top: 6px;
    margin-left: 19px;
    margin-right: 8px;
    display: none;
}
/*.text-error{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f2dede;
    padding: 1%;
    margin-top: 6px;
    margin-left: 19px;
    margin-right: 8px;
    display: none;
}*/

.dp-box {
       width: 35vw;
    margin: 1% auto;
    background: white;
    padding: 2%;
    border-radius: 5px;
    /* margin-top: 25px; */
}

.form-control {
    width: 65%;
    margin: 2%;
    padding: 1.8% 2%;
    font-size: 0.6em;
    border: 1px solid #088dae;
    /*border-radius: 3px;*/
}

.btn {
    padding: 2% 3%;
    font-size: 0.6em;
    margin-left: 2%;
    background: #088dae;
    border: none;
    /*border-radius: 3px;*/
    color: #FFF;
}

.dp-col-app {
    margin: 0 2%;
    width: 28%;
    display: inline-block;
    vertical-align: middle;
}

.dp-download-img {
    width: 115%;
}

.dp-download-app {
    width: 50%;
}

.dp-header-container img {
    width: 25%;
}
.dp-download-appicon{
    width: 40%;
}
.dp-fo {
    width: 32%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 0.6em;
}

.dp-co {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.dp-copyright-div {
    width: 68%;
    margin: 1% auto;
    border-top: 1px solid white;
        padding: 0.5%;
    /* margin-top: 20px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    font-size: 0.6em;
}

.col-so {
    width: 45%;
    display: inline-block;
}

.col-right{
    width: 40%;
    display: inline-block;
    text-align: right;
    float: right;
    clear: right;
}

.col-right img{
    margin: 1%;
}

.foot{
    background: #515151;
    color: #FFF;
}
/*
 CUSTOMIZE THE CAROUSEL
-------------------------------------------------- 

 Carousel base class 
.carousel {
	height: 500px;
	margin-bottom: 60px;
}

 Since positioning the image, we need to help out the caption 
.carousel-caption {
	z-index: 4;
}

 Declare heights because of positioning of img element 
.carousel .item {
	height: 500px;
	background: #0097c0;  For browsers that do not support gradients 
    background: -webkit-linear-gradient(#52c2be, #0097c0);  For Safari 5.1 to 6.0 
    background: -o-linear-gradient(#52c2be, #0097c0);  For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(#52c2be, #0097c0);  For Firefox 3.6 to 15 
    background: linear-gradient(#52c2be, #0097c0);  Standard syntax    
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.dp-testimonial{
	color:white;
	position: static !important;
}

.dp-testimonial-img{
	width:150px;
    margin-top: 75px;
	border-radius: 75px;
}

.dp-testimonial-name{
	font-size:2em;
}*/


/* ++++++++++++++++++++++ Header Register +++++++++++++++++++++++++++++++++*/
.reg-header{
    background: #00A8d5;
    padding: 1%;
}
.dp-logo{
    width: 40%;
    display: inline-block;
}
.dp-log-box{
    width: 55%;
    display: inline-block;
    text-align: right;
}
.dp-button {
    padding: 1%;
    width: 15%;
    background: #FFF;
    border: none;
    color:#00A8d5 ;
    margin: 1%;
}
.dp-button:hover{
    color: #FFF;
    background: #0097c0;
    
}
.register-box    {
    width: 35%;
    margin: 5% auto;
    padding: 2% 5%;
    padding-bottom: 3%;
    background: #FFF;
    box-shadow: 2px 2px 2px #b5b3b3;
}

.register-logo{
    padding: 1%;
    font-size: 3em;
    text-align: center;
    margin: 2%;

}

.reg{
    color: #fff;
    background-color: #00A8d5;
    border-color: #00A8d5;
    width: 90%;
    margin: 2% 5%;
    padding: 2%;
    font-size: 1.2em;
}
.already{
    margin: 5%;
    font-size: 1.2em;
}

.forget{
    margin: 5%;
    font-size: 1.2em;
    color: #00A8d5;
}

.dp-hide{
	display: none;
}

.dp-show{
	display: block;
}


.dp-misc-box{
    width: 40%;
    margin: 5% auto;
    text-align: center;
}

.dp-misc-text{
	font-size: 3em;
    color: #6a6a6a;
}

.dp-misc-sec-text{
	font-size: 1.5em;
    color: #6a6a6a;
}


.dp-misc-top{
	margin-top:40px;
}

.dp-misc-btn{
	background: #0387a9;
    color: white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 2em;
    border-radius: 3px;
    margin-top:10px;
    text-decoration: none !important;
}

.dp-misc-img{
	width:10%;
}


@media only screen and (max-width: 1500px){
    .dp-header-container img {
    width: 400px;
}
    .register-box {
    width: 50%;
    }
    .dp-box {
    width: 40%;
    }
    
}
@media only screen and (max-width: 1400px){
    .dp-benifit-block{
        height: 10vw;
    }
    
}

@media only screen and (max-width: 1100px){

    .dp-benifit-block {
    height: 12vw;
}
.dp-header-container img {
    width: 30%;
}
.dp-download-appicon{
    width: 40%;
}
.form-control {
    width: 60%;
    padding: 2% 2%;
    font-size: 1em;
    margin: 2%;
}
.btn {
    padding: 1.8%;
    font-size: 1em;
}
.dp-copyright-div {
    width: 70%;
    font-size: 0.8em;
}
.col-so {
    width: 60%;
}
 .dp-fo {
    font-size: 0.8em;
 }
    
}

@media only screen and (max-width: 800px){

    .dp-benifit-block {
    height: 16vw;
}
    
}
@media only screen and (max-width: 900px){
.form-control {
    width: 60%;
    padding: 2% 2%;
    font-size: 1em;
    margin: 2%;
}
.btn {
    padding: 1.8%;
    font-size: 1em;
}
.dp-copyright-div {
    width: 70%;
    font-size: 0.8em;
}
 .dp-box {
    width: 55%;
}
.dp-fo {
    font-size: 1.2em;
}
.col-so {
    width: 70%;
    font-size: 1.4em;
}
.col-right{
    width: 30%;
}
.dp-col-app {
    margin: 2%;
    width: 40%;
}
.dp-col-app h2 {
    font-size: 2.2em;
}
}

@media only screen and (max-width: 600px){

.dp-header-main-heading {
    font-size: 2em;
}
.dp-header-sec-heading {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
}

.dp-course-block {
    width: 35%;
}
.dp-header-container img {
    width: 50%;
}
.dp-header-main-heading {
    font-size: 6em;
}
.dp-course-block {
    width: 38%;
    font-size: 3em;
    padding: 3%;
}
.dp-header-sec-heading {
    font-size: 3em;
}
h2 {
    font-size: 3em;
}
.dp-button-l {
    margin: 5% 0;
    padding: 2% 3%;
    font-size: 3em;
    font-weight: normal;
}
.dp-how-section-text img{
    width: 50px;
}
.dp-how-section-text {
    font-size: 2.5em;
}
.dp-benifit-block {
    height: 24vw;
    width: 42%;
    font-size: 2.5em;
}

.dp-box {
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
}

label{
    font-size: 3em;
}
.btn {
    padding: 2%;
    font-size: 1.8em;
    margin-left: 2%;
}
.form-control {
    width: 65%;
    padding: 2% 3%;
    font-size: 2em;
}
.dp-col-app {
    margin: 0 2%;
    width: 80%;
}
.dp-download-app {
    width: 50%;
}
.dp-benifit-block img {
    width: 40px;
    margin-top: 6px;
}
.dp-co {
    width: 90%;
}
.dp-fo {
    width: 100%;
    font-size: 2em;
}
.dp-copyright-div {
    width: 99%;
    font-size: 2em;
    text-align: center;
}
.col-so {
    width: 100%;
}
.dp-how-section-img {
    width: 100%;
}
.dp-how-margin {
    width: 100%;
    margin: 1% auto;
}
.col-right {
    text-align: center;
    float: none;
    /* clear: right; */
}
.image-hide{
    display: none;
}

.dp-section-margin {
    padding-bottom: 10%;
}
.col-so {
    font-size: 1em;
}
.col-right {
    width: 100%;
}

}

@media only screen and (max-width: 450px)
{

.dp-header-main-heading {
    font-size: 6em;
    margin: 10% 0;
}
.dp-course-block {
    width: 38%;
    font-size: 4em;
    padding: 3%;
    margin: 5% 2%;
}
.dp-header-sec-heading {
    font-size: 3.5em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}
h2 {
    font-size: 4em;
}
.dp-button-l {
    margin: 5% 0;
    padding: 3% 4%;
    font-size: 3em;
    background: orange;
    color: #FFF;
}
.dp-how-section-text img {
    width: 60px;
}



.dp-how-section-image {
    display: none;
}

.dp-benifit-block {
    height: 30vw;
    width: 42%;
    font-size: 3em;
}

.dp-course-block img {
    width: 40px;
    height: 42px;
}
.dp-box {
    width: 90%;
    margin: auto;
}
label{
    font-size: 3em;
}
.btn {
    padding: 2%;
    font-size: 1.8em;
    margin-left: 2%;
}
.form-control {
    width: 65%;
    padding: 2% 3%;
    font-size: 2em;
}
.dp-col-app {
    margin: 0 2%;
    width: 80%;
}
.dp-download-app {
    width: 50%;
}
.dp-benifit-block img {
    width: 30px;
    margin-top: 6px;
}
.dp-co {
    width: 90%;
}
.dp-fo {
    width: 100%;
    font-size: 2.5em;
}
.dp-copyright-div {
    width: 99%;
    font-size: 2em;
}
.col-so {
    width: 100%;
}
.dp-how-section-text {
    margin: 4% auto;
    width: 90%;
       font-size: 3em;
}
.dp-header-container img {
    width: 190px;
}

}


/* ------------------- contact page css ---------------- */
.dp-contact  {
   background-color: #fff;
}
.dp-contact-us{
        padding-top: 1%;
}
.dp-contact p{
    font-size: 15px;
}
.dp-contact .form-box{
    margin-top: 30px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.dp-contact form{
    margin-top: 36px;
}

.dp-contact .form-group{
    margin-bottom: 24px;
}
.dp-contact .form-control{
    width: 90%;
    height: auto;
    border: none;
    border-bottom: 1px solid #088dae;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1% 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    /* transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); */
}

.dp-contact .submit-btn{
    width: 230px;
    min-height: 56px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #088dae;
    color: #fff;
    margin-top: 19px;
    text-transform: uppercase;
}
#s-msg, #error-msg{
    display: none;
}
}