@font-face{
	font-family: Lato;
	src: url(../fonts/Lato-Regular.ttf);
        
	}

body{
	background:#f1f1f1;
        font-size: 1.5em;
        font-family: Lato;
}

.abcRioButtonIcon{
    display: none !important;
}

.abcRioButton{
    width: 90%  !important;
    text-align: center;
    margin: 0 auto;
    background-color: #dd4b39 !important;
    margin-top: 5% !important;
}

.line-separator {
    margin: 32px auto;
    width: 90%;
    height: 1px;
    background-color: #aab8c2;
    position: relative;
}

.line-separator::before {

    background-color: #fff;
    content: attr(data-prompt);
    position: absolute;
    left: 50%;
    top: 0;
    color: #aab8c2;
    padding: 0 16px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.dp-fb{
    width: 90%;
    height: 50px;
    /* margin: auto 0; */
    margin-top: 5%;
    margin-left: 5%;
    border: 0px;
    background: #3B5998;
    color: #fff;
    font-weight: 500;
}

.row{
	margin-right:0px;
	margin-left:0px;
}

.dp-header-section{
    background: #0097c0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#52c2be, #0097c0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#52c2be, #0097c0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#52c2be, #0097c0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#52c2be, #0097c0); /* Standard syntax */   
	background-image: url('../images/banner.jpg');
    background-size: cover;
	color:#fff;
	height:100vh;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}

.dp-header-container{
    height: 40vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;	
    text-align: center;
}

.dp-header-main-heading{
    font-size: 4em;
}

.dp-header-sec-heading{
    font-size: 2.5em;
}

.dp-coming-soon{
	background: white;
    color: #0387a9;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    margin-top:6vh;
    font-size: 2em;
    border-radius: 3px;
}

.dp-courses-section{

}

.dp-white-background{
	background:white;
}

.dp-section-margin{
	padding-top: 25px;
    padding-bottom: 50px;
}

.dp-section-inner-margin{
	margin-top:60px;
}

.dp-course-block{
	background: white;
    box-shadow: 2px 2px 2px 2px #b5b3b3;
    font-size: 2.5em;
    color:#494949;
}

.dp-benifit-block{
	background: white;
    box-shadow: 2px 2px 2px #b5b3b3;
    color:#494949;
    height: 160px;
}

.dp-block-margin{
	margin-top:20px;
}

.dp-how-margin{
	margin-top:20px;
}

.dp-how-section-img{	
	height: 200px;
}

.dp-how-section-text{
	text-align:right;
	font-size: 2em;
	color:#494949;
    margin-top: 50px;
}
.dp-how-section-text-right{
	text-align:left;
	font-size: 2em;
	color:#494949;
    margin-top: 50px;
}

.dp-footer{
	background: #515151; 
    color:white;
    padding-top:30px;
    font-size:1.5em;
}

.dp-subscribe-box{
	color:white;
	background: #0097c0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#52c2be, #0097c0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#52c2be, #0097c0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#52c2be, #0097c0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#52c2be, #0097c0); /* Standard syntax */   
}

.dp-box{
	width: 450px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
    margin-top:25px;
}
.has-feedback .text-danger p{
        margin-left: 5%;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 4;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background: #0097c0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#52c2be, #0097c0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#52c2be, #0097c0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#52c2be, #0097c0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#52c2be, #0097c0); /* Standard syntax */   
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.dp-testimonial{
	color:white;
	position: static !important;
}

.dp-testimonial-img{
	width:150px;
    margin-top: 75px;
	border-radius: 75px;
}

.dp-testimonial-name{
	font-size:2em;
}

.dp-download-img{
	width:534px;
}

.dp-download-appicon{
    transform: translateY(70%);
}

.dp-download-text{
    transform: translateY(100%);    
    font-size: 3.5em;
    font-weight: bold;
}

.dp-copyright-div{
	border-top:1px solid white;
	margin-top:20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size:0.6em;
}

/* ++++++++++++++++++++++ Header Register +++++++++++++++++++++++++++++++++*/
.reg-header{
    background: #00A8d5;
    padding: 1%;
}
.dp-logo{
    width: 40%;
    display: inline-block;
}
.dp-log-box{
    width: 55%;
    display: inline-block;
    text-align: right;
}
.dp-button {
    padding: 1%;
    width: 15%;
    background: #FFF;
    border: none;
    color:#00A8d5 ;
    margin: 1%;
    font-size: 1.2em;
}
.dp-button:hover{
    color: #FFF;
    background: #2e6da4;
    
}
.register-box    {
    width: 35%;
    margin: 5% auto;
    padding: 2% 5%;
    padding-bottom: 3%;
    background: #FFF;
    box-shadow: 2px 2px 2px #b5b3b3;
}

.register-logo{
    padding: 1%;
    font-size: 3em;
    text-align: center;
    margin: 2%;

}
.form-control {
    display: block;
    width: 90%;
    margin: 5%;
    padding: 5%;
    font-size: 1.2em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #00A8d5;
    border-radius: 0;
}
.reg{
    color: #fff;
    background-color: #00A8d5;
    border-color: #00A8d5;
    border-radius: 0;
    width: 90%;
    margin: 2% 5%;
    padding: 2%;
    font-size:2em;
}
.already{
    margin: 5%;
    font-size: 1.2em;
}

.forget{
    margin: 5%;
    font-size: 1.2em;
    color: #00A8d5;
}

.dp-hide{
	display: none;
}

.dp-show{
	display: block;
}


.dp-misc-box {
    width: 90%;
    margin: 5% auto;
    text-align: center;
}

.dp-misc-text{
	font-size: 3em;
    color: #6a6a6a;
}

.dp-misc-sec-text{
	font-size: 1.5em;
    color: #6a6a6a;
}


.dp-misc-top{
	margin-top:40px;
}

.dp-misc-btn{
	background: #0387a9;
    color: white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 2em;
    border-radius: 3px;
    margin-top:10px;
    text-decoration: none !important;
}

.dp-misc-img{
	width:10%;
}
.dp-links{
        font-size: 0.8em;
}
.reg{
    font-size: 1.8em;
}
.register-logo {
    font-size: 2.5em;
}
.slink{
    margin: 10% 2%;
}
@-moz-document url-prefix() { 
  .form-control{
     height: auto;
     padding: 2% 4%;
  }
}

@media only screen and (max-width: 1500px){
    .register-box {
    width: 40%;
    }
    .dp-download-img {
    width: 30em;
}
.dp-download-appicon {
    transform: translateY(70%);
    width: 10em;
}
.dp-download-text {
    transform: translateY(100%);
    font-size: 2em;
    /* font-weight: bold; */
}
 .dp-misc-btn {

    font-size: 1.5em;
}   
}

@media only screen and (max-width: 1300px){
    .register-box {
    width: 50%;
    }
    .dp-download-img {
    width: 30em;
    margin-left: -10em;
}
.dp-download-text {
    margin-left: 5%;
}
    
}
@media only screen and (max-width: 1000px){
       .dp-download-img {
    width: 30em;
    margin-left: 0;
} 
.dp-download-appicon {
    transform: translateY(0%);
}
.dp-download-text {
    transform: translateY(0%);
    margin: 5% 0;
}
.register-logo {
    font-size: 2em;
}

}
@media only screen and (max-width: 900px)
{
.register-box {
    width: 60%;
}
.dp-button {
    width: 30%;
}
.reg {
    font-size: 1.4em;
}
.dp-misc-btn {
    padding: 10px 25px;
    font-size: 1.5em;
}
.dp-misc-box {
    width: 70%;
}

}

@media only screen and (max-width: 600px){
    
    .dp-how-section-img {
    width: 100%;
}
.dp-download-img {
    width: 100%;
}
.dp-download-appicon {
    transform: translateY(0%);
}
.dp-download-text {
    transform: translateY(0%);
}
.dp-box {
    width: 90%;
}
.dp-header-container img{
    width: 100%;
}
.dp-header-main-heading {
    font-size: 2em;
}
.dp-header-sec-heading {
    font-size: 1.5em;
}
  .h1, h1 {
    font-size: 1.5em;
}  
.register-box {
    width: 80%;
}
.dp-logo{
    width: 40%;
}
.dp-log-box {
    width: 55%;
}
.dp-logo img{
    width: 200px;
}
.dp-button {
    width: 30%;
}
.dp-misc-box {
    width: 90%;
}
.dp-misc-text {
    font-size: 2em;
}
.dp-misc-btn {
    padding: 10px 25px;
    font-size: 1.5em;
}
.dp-misc-sec-text {
    font-size: 1.2em;
    color: #6a6a6a;
}
}
@media only screen and (max-width: 400px)
{
.register-box {
    width: 90%;
}
.dp-logo{
    width: 30%;
}
.dp-log-box {
    width: 66%;
}
.dp-logo img{
    width: 150px;
}
.dp-button {
    width: 35%;
    font-size: 1em;
}
.reg {
    font-size: 1.2em;
}
.register-logo {
    font-size: 1.5em;
}
.form-control   {
     font-size: 1em;
}
.dp-links {
    font-size: 0.6em;
}
.dp-copyright-div{
    font-size: 0.4em;  
}
.text-right{
    text-align: center;
}
  
}
